<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}博客后台{% endblock title %}</title>

        {% block metas %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock metas %}

        {% block styles %}
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
        <script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static',filename='editormd/editormd.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='layui/layui.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layui/css/layui.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='editormd/css/editormd.css') }}">
        {% endblock styles %}
    {% endblock head %}
</head>
<body>
{% block body %}
    {% block header %}
        <div class="admin-header">
            <ul class="layui-nav">
                <li class="layui-nav-item">
                    <a href="{{ url_for('auth.index') }}">控制台</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{{ url_for('auth.index') }}">概要</a></dd>
                        <dd><a href="{{ url_for('auth.setting') }}">设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">撰写</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{{ url_for('auth.writepost') }}">写文章</a></dd>
                        <dd><a href="{{ url_for('auth.writenote') }}">写笔记</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{{ url_for('auth.posts') }}">文章</a></dd>
                        <dd><a href="{{ url_for('auth.notes') }}">笔记</a></dd>
                        <dd><a href="{{ url_for('auth.categorys') }}">分类</a></dd>
                        <dd><a href="{{ url_for('auth.tags') }}">标签</a></dd>
                        <dd><a href="{{ url_for('auth.comments') }}">评论</a></dd>
                        <dd><a href="{{ url_for('auth.messages') }}">留言</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item admin-nav-right">
                    <a href="{{ url_for('auth.logout') }}">退出登录</a>
                </li>
                <li class="layui-nav-item admin-nav-right">
                    <a href="{{ url_for('main.index') }}">返回博客</a>
                </li>
            </ul>
        </div>
    {% endblock header %}

    {% block content %}

    {% endblock content %}

    {% block footer %}
        <div class="admin-footer">
            <p>Copyright © 2021 知行合一 版权所有</p>
        </div>
    {% endblock footer %}

    {% block script %}
        <!-- 注册layui模块-->
        <script>
            layui.use(['element','layer','form'], function(){
                var element = layui.element;
                var layer = layui.layer;
                var form = layui.form;
                {% for message in get_flashed_messages() %}
                    layer.msg('{{ message }}');
                {% endfor %}
            });
        </script>
    {% endblock script %}

{% endblock body %}




</body>
</html>