{% extends 'base.html' %}

{% block content %}
    <!-- 主体内容区 -->
    <div class="layui-container">
        <!-- 面包屑导航 -->
        <div class="map">
            <span class="layui-breadcrumb">
              <a href="{{ url_for('main.index') }}">首页</a>
              <a><cite>关于</cite></a>
            </span>
        </div>
        <!-- 主体内容区 -->
        <div class="layui-row layui-col-space15">
            <!-- 左侧内容区 -->
            <div class="layui-col-md9 layui-col-lg9">
                <div class="about-card">
                    <div class="about-title">
                        <h2>关于作者</h2>
                    </div>
                    <div class="about-content">
                        <p>{{ admin.about }}</p>
                    </div>
                </div>
            </div>
            <!-- 右侧侧边栏 -->
            {% include '_sidebar.html' %}
        </div>
    </div>
{% endblock content %}